<!DOCTYPE html>
<html>
<head>
  <title>CrmDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Alphabetized', alphabetized_path %></li>
      <li><%= link_to 'Missing Email', missing_email_path %></li>
    </ul>
  </nav>
</header>
<%= yield %>

</body>
</html>
